{
  "x-nx-token": "INSERT_YOUR_NX-TOKEN_HERE",
  "baseurl": "https://nx-tokenservice.pegnu.workers.dev/",
  "remoteConfigPath": "nx.json",
  "mode": [
    "dns",
    "wireguard"
  ],
  "wireguard": [
    {
      "network-name": "rackfarm",
      "peer": "gan37"
    }
  ],
  "dns": {
    "remote-zone-path": "zones/",
    "local-temp-path": "/tmp",
    "local-zone-path": "/etc/bind/zones/",
    "dns-server-name": "INSERT YOUR NAME-SERVER NAME HERE"
  }
}