{
  "x-nx-token": "INSERT_YOUR_NX-TOKEN_HERE",
  "baseurl": "https://nx-tokenservice.pegnu.workers.dev/",
  "remoteConfigPath": "nx.json",
  "mode": [
    "dns",
    "wireguard"
  ],
  "wireguard": [
    {
      "network-name": "rackfarm",
      "peer": "gan37"
    }
  ],
  "dns": {
    "local": {
      "temp-path": "/tmp/",
      "zone-path": "/etc/bind/zones/",
      "config-path": "/etc/bind/"
    },
    "remote": {
      "config-path": "bind-config/",
      "zone-path": "zones/"
    },
    "dns-server-name": "INSERT YOUR NAME-SERVER NAME HERE"
  }
}